body {
    font-family: "Source Sans Pro", sans-serif;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.navbar-nav {
    display: flex;
    gap: 20px;
}

.navbar-nav a:hover {
    color: var(--green-1);
}

.nav-link-active {
    color: var(--green-1);
}

.banner-background {
    position: relative;
}

.baner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    text-align: center;
}

.banner-background img {
    width: 100%;
}

.feature-section {
    padding: 50px 0;
}

.feature-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.feature-title {
    margin-bottom: 50px;
    text-align: center;
}
.feature-item {
    text-align: center;
}

.service-section {
    background-color: rgba(235, 247, 234, 1);
    padding: 50px 0;
}

.service-image-left {
    padding-left: 100px;
}

.service-image-right {
    padding-right: 100px;
}

.service-image img {
    object-fit: contain;
    width: 100%;
}

.service-title {
    margin-bottom: 50px;
    text-align: center;
}

.service-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.service-item {
    display: flex;
    justify-content: space-between;
}

.service-feature {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.service-feature-item {
    text-align: center;
    flex: 1;
    max-width: 100px;
}

.recruitment-section {
    padding: 50px 0;
}

.recruitment-content {
    margin: auto;
}

.recruitment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.feedback-section {
    padding: 50px 0;
    background-color: rgba(235, 247, 234, 1);
}

.feedback-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.feedback-customer-info {
    text-align: center;
    padding-right: 30px;
}

.feedback-customer-info img {
    margin-bottom: 20px;
}

.feedback-message {
    text-align: justify;
    display: flex;
    align-items: center;
}

.feedback-description img {
    max-width: 50px;
    object-fit: contain;
}

.feedback-description {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 0;
}

.feedback-parenthesis-close {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.network-section {
    padding: 50px 0;

    width: 70%;
    margin: auto;
}

.network-title {
    text-align: center;
    margin: auto;
}

.network-statistics {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.statistics-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-number {
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px dashed var(--green-1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.network-map {
    padding: 30px 0;
    text-align: center;
}

.network-map img {
    max-width: 80%;
    object-fit: contain;
}

.network-partner {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    padding: 50px 0;
}

.footer-contact-list {
    display: flex;
    width: 100%;
    color: #fff
}

.footer-address-area {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}


.footer-address-area a {
    text-decoration: none;
    color: #fff;
}

.footer-address-area div {
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100% ;
    width: fit-content;
}

.contact-second div {
    margin: auto;
}

.contact-first {
    background-image: url("./img/img17.svg");
    justify-content: end;
}

.contact-second {
    background-image: url("./img/img18.svg");
}

.contact-third {
    background-image: url("./img/img19.svg");   
    justify-content: start;

}

.footer-copy-right {
    padding: 10px 0;
    text-align: center;
}